<% provide(:title, "help") %>
<!DOCTYPE html>
<html>
<head>
<title> Help | Ruby on Rails Tutorial sample App </title>
</head>
<body>
<h1> Help </h1>
<p>
Get help on the Ruby on rails at the 
<a href="http://www.railstutorial.org/#help"> Ruby on Rails Tutorial help
Section</a>
</p>
</body>
</html>
